/* ~ => ишет в node_modules */
@import '~normalize.css';
@import 'fonts.css';


body{
    font-family: 'myFont', sans-serif;
}

h1{
    color: red;
}

.my{
    background: url('../components/img/test.png');
    height: 300px;
    width: 500px;
    border: 1px solid red;
    padding: 50px;
}