*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}
input::-webkit-input-placeholder {
  color: white;
  background: #F23005;
}
input:-moz-placeholder {
  color: white;
  background: #F23005;
}
input:-ms-input-placeholder {
  color: white;
  background: #F23005;
}
li {
  list-style: none;
}
a {
  text-transform: uppercase;
}
body {
  background-color: #151515;
}
.container {
  width: 100%;
  padding: 0 30px;
}
.header {
  background-color: black;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .search {
  height: 70px;
  max-width: 300px;
  width: 100%;
}
.header .search form:after {
  content: '';
  max-width: 200px;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.header form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F23005;
  height: 100%;
  border: none;
  position: relative;
  padding-right: 20px;
}
.header input {
  width: 100%;
  color: white;
  border: none;
  height: 100%;
  outline: none;
  position: relative;
  background-color: #F23005;
  margin-left: 20px;
}
.header a {
  background-color: #F23005;
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
}
.header a i {
  background-color: #F23005;
  font-size: 20px;
  color: white;
  display: block;
}
.body .container {
  display: flex;
}
.body .nav {
  min-width: 200px;
  margin-top: 40px;
}
.body .nav ul {
  max-width: 250px;
  width: 100%;
}
.body .nav ul li {
  height: 80px;
}
.body .nav ul li a {
  color: white;
}
.body .nav ul li a:hover {
  transition: 0.3s;
  font-size: 18px;
  color: #F23005;
}
.body .nav ul li i {
  color: #F23005;
  margin-right: 30px;
}
.body .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.body .images .news {
  max-width: 500px;
  text-align: center;
  position: relative;
}
.body .images .news:after {
  content: 'top news in the world of music';
  text-transform: uppercase;
  font-size: 50px ;
  position: absolute;
  max-width: 500px;
  width: 100%;
  top: -70px;
  left: -1px;
}
.body .images .news h1 {
  color: #F23005;
  font-size: 50px;
  line-height: none;
  margin: -70px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: normal;
}
.body .images__item {
  width: 25%;
  height: 200px;
  padding: 10px;
}
.body .images__item_big {
  width: 100%;
  height: 260px;
}
.body .images__item_big img {
  object-fit: cover;
  object-position: 0 0;
}
.body .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
