*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}
input::-webkit-input-placeholder {
  color: white;
  background: #F23005;
}
input:-moz-placeholder {
  color: white;
  background: #F23005;
}
input:-ms-input-placeholder {
  color: white;
  background: #F23005;
}
li {
  list-style: none;
}
a {
  text-transform: uppercase;
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
button:active i {
  color: white;
}
button:hover i {
  box-shadow: 0 0 5px white;
}
i {
  color: #F23005;
}
body {
  background-color: #151515;
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
}
.container {
  width: 100%;
  padding: 0 30px;
}
.header {
  background-color: black;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .search {
  height: 65px;
  max-width: 300px;
  width: 100%;
}
.header .search form:after {
  content: '';
  max-width: 200px;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.header form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F23005;
  height: 100%;
  border: none;
  position: relative;
  padding-right: 20px;
}
.header input {
  width: 100%;
  color: white;
  border: none;
  height: 100%;
  outline: none;
  position: relative;
  background-color: #F23005;
  margin-left: 20px;
}
.header a {
  background-color: #F23005;
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
}
.header a i {
  background-color: #F23005;
  font-size: 20px;
  color: white;
  display: block;
}
.body .container {
  display: flex;
}
.body .nav,
.body .playlist {
  min-width: 200px;
  margin-top: 40px;
}
.body .nav ul,
.body .playlist ul {
  max-width: 250px;
  width: 100%;
}
.body .nav ul li,
.body .playlist ul li {
  height: 60px;
}
.body .nav ul li a,
.body .playlist ul li a {
  color: white;
  border-bottom: 2px solid #151515;
}
.body .nav ul li a:hover,
.body .playlist ul li a:hover {
  transition: 0.3s;
  color: #F23005;
  border-bottom: 2px solid #F23005;
}
.body .nav ul li i,
.body .playlist ul li i {
  color: #F23005;
  margin-right: 30px;
}
.body .nav .statistic,
.body .playlist .statistic {
  margin-top: 170px;
}
.body .nav .statistic li,
.body .playlist .statistic li {
  height: 30px;
}
.body .nav .statistic li span,
.body .playlist .statistic li span {
  color: white;
}
.body .nav .statistic li span:nth-child(1),
.body .playlist .statistic li span:nth-child(1) {
  display: inline-block;
  max-width: 100px;
  width: 100%;
}
.body .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.body .images .news {
  max-width: 500px;
  text-align: center;
  position: relative;
}
.body .images .news:after {
  content: 'top news in the world of music';
  text-transform: uppercase;
  font-size: 50px ;
  position: absolute;
  max-width: 500px;
  width: 100%;
  top: -70px;
  left: -1px;
}
.body .images .news h1 {
  color: #F23005;
  font-size: 50px;
  line-height: none;
  margin: -70px 0 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: normal;
}
.body .images__item {
  width: 25%;
  height: 200px;
  padding: 10px;
}
.body .images__item_big {
  width: 100%;
  height: 260px;
}
.body .images__item_big img {
  object-fit: cover;
  object-position: 0 0;
}
.body .images__item:hover {
  box-shadow: 0 0 10px #F23005;
  transition: 0.7s;
}
.body .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body .playlist {
  color: white;
}
.body .playlist__top {
  margin: 0 0 0 30px;
}
.body .playlist__top span {
  padding: 0 0 0 30px;
  font-size: 16px;
  text-transform: uppercase;
}
.body .playlist__body {
  border: 1px solid #242424;
  height: 680px;
  box-shadow: 0 0 5px #242424;
  overflow: scroll;
  /* width */
  /* Track */
  /* Handle */
}
.body .playlist__body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.body .playlist__body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 20px;
  background: #555;
  width: 3px;
}
.body .playlist__body::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 20px;
}
.body .playlist__body::-webkit-scrollbar-corner {
  border-radius: 50% !important;
  background-color: #F23005 !important;
}
.footer {
  background-color: black;
}
.footer .container {
  height: 65px;
  display: flex;
  align-items: center;
}
.footer .trackName {
  max-width: 210px;
  width: 100%;
}
.footer i {
  font-size: 20px;
  padding: 0 3px;
}
