@import './accardion.scss';

.about{
    height: 100vh;
    &-top{
        padding-top: 100px;
        & p{
            padding-top: 49px;
            font-weight: $lato700;
        }
    }
    &-inner{
        position: relative;
        margin-top: 102px;
        display: flex;
        align-items: center;
        &__accardion{
        }
        &__photos{
            display: flex;
            align-items: center;
            .hexagon{
                position: absolute;
                top: 0;
                right: 0;
                height: 250px;
                width: 426px;
                &:nth-child(1){
                    // right: 50px;
                }
                &:nth-child(2){
                    height: 300px;
                    top: -25px;
                    image{
                        height: 100%;
                        width: 370px;
                    }
                    z-index: 2;
                }
                &:nth-child(3){
                    // right: -50px;
                }
                
                path{
                    stroke: white;
                }
                
            }
        }
    }
    &-bottom{
        .cards-group {
            margin-top: 180px;
            display: flex;
            align-items: center;
            .hexagon{
                margin: 0 auto;
            }
            &__card {

            }
        }
    }
}

