.custom-class{
    width: 80%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    transition: all 3s ease;

    h3{
        padding: 20px;
    }

    p{
        padding: 20px;
        
    }
}