@mixin bgImage($url) {
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../components/img/header/' + $url) center/cover no-repeat;
}

.header{
    &-top{
        padding:29px 0;
        background-color: #08070C;
        & .container{
            display: flex;
            justify-content: space-between;
        }
    }
    &-nav ul{
        display: flex;
        & li{
            text-transform: uppercase;
            padding-left: 25px;
        }
    }
    &-inner{
        &__content{
            height: 630px;
        }
        &__title{
            text-align: center;
            & h1{
                color: white;
                padding: 184px 0 46px;
                span{
                    color: $customTextColor;
                }
            }
            & p{
                color: white;
                max-width: 1021px;
            }
            .buttons-group{
                padding-top: 49px;
                &>*:first-child{
                    background-color: $customTextColor;
                    margin-right: 30px;
                }
                &>*:last-child{
                    background-color: black;
                }
            } 
        }
    }
}

.first{
    @include bgImage('first.png')
}

.second{
    @include bgImage('second.jpg')
}

.third{
    @include bgImage('third.gif')
}

