
//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

@import url('../css/fontello/fontello.css');


//fonts
$ral:'Raleway', sans-serif;
$ral500:500;
$ral600:600;
$ral700:700;

$lato:'Lato', sans-serif;
$lato300:300;
$lato400:400;
$lato700:700;
$lato900:900;

//backgroundColor
$bgLightColor: #FFF;
$bgDarkColor: #272727;
$txtColor: #505050;
$customTextColor: #ff0036;
$cardBgClr:#343434;
$cardBgHoverClr:#3d2328;
$formBorder:1px solid #e7e7e7;
//fontSize
$fontSize: 16px;
//width
$maxWidth:1400px;
$minWidth:320px;
$container: 1184px;
$darkTittleColor: #262626;
$whiteTittleColor: #fff;

//transition
$transit:all 1s ease;


//owl carousel
.owl-item{
    min-height: 400px !important;
}
.owl-item.active {height: auto;}
.owl-stage-outer{
	position: relative;
}
.owl-nav{
	width: 100%;
	position: absolute;
	height: 0;
	top: 43%;
	font-size: 36px;
	button{
		transition: all 1s ease;
		width: 1px;
		height: 0;
		position: absolute;
		&>*{
			transition: all 1s ease;
			width: 1px;
			height: 0;
			color: $txtColor;
		}
	}
	button>*:hover{
		color: $customTextColor;
	}
}
.owl-prev{
	left: 29px;
}

.owl-next{
	right: 47px;
}

/*Zeroing*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body{
	font-family: 'Lato',serif;
}
a{
	color: white;
	display: block;
}
button{
	display: inline-block;
	color: white;
	font-family: $ral;
	font-weight: $ral500;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 1.2;
	padding: 17px 36px;
}
h2{
	padding-top: 70px;
}
h2+p{
	padding-top: 49px;
}

h1,h2{
	color: $darkTittleColor;
	font-size: 30px;
	line-height: 1.2;
	font-family: $ral;
	font-weight: $ral700;
}
h3{
	font-family: $ral;
	font-size: 20px;
	line-height: 1.2;
	font-weight: $ral500;
	text-transform: uppercase;
	color: $txtColor;
}

p{
	font-family: $lato;
	font-weight: $lato400;
	line-height: 22px;
	color: $txtColor;
	font-size: 16px;
}

ul{
	text-transform: uppercase;
}
.container{
	max-width: $container;
	width: 100%;
	padding: 0 40px;
	margin: 0 auto;
	height: 100%;
}

.custom-text{
	color: $customTextColor;
}
.title{
	text-align: center;
}

.hexagon {
    max-width: 500px;
    max-height: 552px;
}
.hexagon svg {
    width: 100%;
    height: 100%;
    stroke-width: 3px;
    stroke: #000;
}
